fastapi==0.136.0
uvicorn[standard]==0.44.0
langchain==1.2.15
langchain-community==0.4.1
ollama==0.6.1
psycopg2-binary==2.9.11
pgvector==0.4.2
python-dotenv==1.2.2
requests==2.33.1
streamlit==1.56.0
python-docx==0.8.12
PyMuPDF==1.22.5
python-multipart==0.0.6